<h1><%= @user.name %>'s Profile</h1>
<h2>Books</h2>
<% @user.books.each do |book| %>
    <strong><%= link_to book.title, book_path(book) %></strong><small><i> by </i></small><%= book.author %><br>
<% end %>
<div><br><br>
<h2>Comments</h2>
<% @user.comments.each do |comment| %>
    "<%= comment.content %>"
<% end %>