<%= flash[:message] %>
<h2> Reading List </h2>
<div>
<% @books.each do |book| %>
  <strong><%= link_to book.title, '/books/:id' %></strong><small> by </small><strong><%= book.author %></strong><br>
<% end %>
</div> 
<br><br><strong><%= link_to 'Add a Book', '/books/new' %></strong>



