<%= flash[:message] %>
<h2> Reading List </h2>
<% @books.each do |book| %>
<div>
  <strong><a href="/books/<%= book.id %>" > <%= book.title %> <small>by</small> <i><%= book.author %></i></a></strong>
  <% end %>

</div> 
<br><br><strong><a href="/books/new" > Add a Book </a></strong>
