<%= flash[:message] %>
<h2> Reading List </h2>
<div>
<% @books.each do |book| %>
  <strong><%= link_to book.title, book_path(book) %></strong><small><i> by </i></small><%= book.author %><br>
<% end %>
</div> 
<br><br><strong><%= link_to 'Add a Book', '/books/new' %></strong>



